{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "tailwind.config.ts",
  "tailwindFunctions": ["tv"],
  "overrides": [
    {
      "files": "*.tsx",
      "options": {
        "tabWidth": 2
      }
    }
  ],
  "printWidth": 135,
  "semi": true
}
